* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #c9e5ef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #c9e5ef;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}



.starts {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #c2d0ebc0;
    position: absolute;
    transform: translate(-50%, -110%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    font-weight: bolder;
    font-style: normal;

}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}


.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 3px;
    background-color: #e6ecf7;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    position: relative;
    transition: all .4s linear;

}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .10s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    transform: rotateY(180deg);
}

.controls-container {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #8ac3e7;
    top: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 0, 17, 0.2);
}

.hide {
    display: none;
}

p {
    font-weight: lighter;
    color: rgb(63, 16, 39);
}